@import url('https://api.fontshare.com/v2/css?f[]=milligram@400,500,600,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Milligram', sans-serif;
  line-height: 1.6;
  background-color: var(--color-cream);
  color: var(--color-ink);
}

#root {
  min-height: 100vh;
}

p {
  margin: 0;
}

button {
  font-family: inherit;
}
