@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'DM Mono', monospace;
  line-height: 1.6;
  background-color: var(--color-cream);
  color: var(--color-ink);
}

#root {
  min-height: 100vh;
}

p {
  margin: 0;
}

button {
  font-family: inherit;
}
